body {
  background-image: url(https://cdn.pixabay.com/photo/2020/02/20/17/57/flower-4865379_1280.png);
  background-repeat: no-repeat;
  background-size: 100%;}

#titreetape {
  font-style: bold;
  font-size: 130px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 100px;
  margin-top: 40px;
  animation-duration: 2s;
  animation-name: slidein;
  animation-direction: alternate;
  font-family: 'Alfa Slab One';
}

#texte5 {
  font-size: 50px;
  text-align: center;
  background-color: #44AB96;
  margin-left: 370px;
  margin-right: 370px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#texte6 {
text-align: center;
padding-left: 250px;
padding-right: 250px;
  font-size: 20px;
  font-family: helvetica;
  font-weight: lighter;
}

#imageabeille2 {
padding-left: 400px;

}
